# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode

miao-directory.exe
miao-directory-amd64-linux
miao-directory-amd64-win.exe
miao-directory-amd64-win.gui.exe
miao-directory-amd64-win.upx.exe
miao-directory-amd64-win.gui.upx.exe
miao-directory.exe~
miao-directory-amd64-linux~
miao-directory-amd64-win.exe~
miao-directory-amd64-win.gui.exe~
miao-directory-amd64-win.upx.exe~
miao-directory-amd64-win.gui.upx.exe~

# Linux 压缩版本
miao-directory-amd64-linux.upx
miao-directory-amd64-linux.upx~

# Linux ARM64 版本
miao-directory-arm64-linux
miao-directory-arm64-linux~
miao-directory-arm64-linux.upx
miao-directory-arm64-linux.upx~

# macOS AMD64 版本
miao-directory-amd64-darwin
miao-directory-amd64-darwin~
miao-directory-amd64-darwin.upx
miao-directory-amd64-darwin.upx~

# macOS ARM64 版本
miao-directory-arm64-darwin
miao-directory-arm64-darwin~
miao-directory-arm64-darwin.upx
miao-directory-arm64-darwin.upx~

test
stats.html

src-server/web/*

# auto-imports.d.ts

# components.d.ts

# src/plugins/onnx_demo_*

public/test

doc